@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    font-family: inherit;
    outline: none !important;
    list-style: none !important;
    text-decoration: none !important;
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    color: #454545;
    font-size: 16px;
    font-weight: 400;
}